<h1 style="color:Tomato;"><center> BORLA</center></h1>

<h2><center>A Data Visualization Platform For Ghana Waste Management</center></h2>

![Trash](img/1.gif)

![Trash2](img/2.gif)

In [2]:
# Import all necessary modules

import csv
import pandas as pd
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from collections import Counter
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from plotly.offline import iplot, init_notebook_mode
import plotly.graph_objs as go
import plotly.io as pio
import numpy as np
import os
import plotly.plotly as py


%matplotlib inline

In [32]:
# Read csv
df = pd.read_csv('borla.csv')

In [33]:
df

,name,latitude,longitude,location,id,garbageSize,garbageDuration,picture
0,Emmanuel,6.751843,-1.710017,Kumasi,"""92018304""","""S""","""5""","""Yes"""
1,Yaa,5.416667,-1.316667,Kakum,"""92018304""","""M""","""5""","""No"""
2,Kwame,8.300000,-2.366667,Bui,"""92018304""","""S""","""10""","""Yes"""
3,Kweku,5.866667,-0.183333,Aburi,"""92018304""","""L""","""1""","""No"""